html,body {
  background: whitesmoke;
  color: black;
}
a {
  color: blue;
}
input {
  color: black;
}
input {
  background: linear-gradient(272.93deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 97.56%), radial-gradient(50% 50% at 50% 50%, #DDDDDD 0%, #BBBBBB 100%);
}
input:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(272.93deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 97.56%), radial-gradient(50% 50% at 50% 50%, #DDDDDD 0%, #BBBBBB 100%);
}
input:active, input:focus {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(272.93deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 97.56%), radial-gradient(50% 50% at 50% 50%, #DDDDDD 0%, #BBBBBB 100%);
}
